html,body,#uHome,.full{height:100%;}
html,body{overflow: hidden;}
#uHome{width:100%;position:relative;}
.animated{
    width: 100%;
    animation-duration: .7s;
    position: absolute;top: 0;left: 0;
}
.home {
  display: -webkit-flex;
  height: 100%;
  background: url(../img/home/bg.png);

    .home-left-panel {
        float: left;
        width: 50px;
        height: 100%;
        background: url("../img/home/l_bg_01.png") no-repeat;
        background-size: 100% 100%;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        position: relative;
        z-index: 999;
    }

    .home-right-panel {
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        flex-direction: column;
        position: relative;

        .home-header {
            width: 100%;
            height: 72px;
            background: url("../img/home/top_bg.png") no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            display: -webkit-flex;
            position: absolute;
            top: 0;
            z-index: 4;
            padding: 22px 0 5px 20px;
            -webkit-align-items: center;
        }
        &.headHide{
            .home-header{
                display: none;
            }
            .home-content{
                padding-top: 0;;
            }
        }
        .home-content{
            padding-top: 72px;
            width: 100%;
            height: 100%;
            position: absolute;;
            background-color: transparent !important;
            .room-ul{
                height: 100%;
            }
        }

    }

    .main-footer {
        width: auto;
        height: 20%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;

        .home-footer {
            background-size: 100% 100%;
            background-color:transparent;
            z-index: 100;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            position: relative;
            transition: all .5s ease;-webkit-transition:all .5s ease;
            opacity: 1;
            width: 50px;
            left:60px;top:90px;
            height: 50px;
            border-radius: 50%;
            box-sizing: border-box;
            .footerCircle{
                -webkit-animation: rotate 3s linear infinite forwards;
                position: absolute;border: 5px solid #ccc;border-radius:50%;
                left: 0px;
                transition: all .7s ease;
                -webkit-transition: all .7s ease;
                top: 0px;
                width: 50px;
                height: 50px;
                background-color:rgba(0,0,0,.5);
                .l,.r{
                    position: absolute;
                    left: -5px;
                    top: -5px;
                    width: 50px;
                    height: 50px;
                    border: 5px solid RGBA(67, 236, 200, 0.5);
                    border-radius: 50%;
                  &:after{
                    content: ' ';
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                  }
                }
                .l {
                  clip: rect(0px, 35px, 120px, 0px);
                  -webkit-transform: rotate(-80deg);
                }
                .r {
                  clip: rect(0px, 120px, 120px, 60px);
                }
            }
        }
    }

}
