.login-bg {

  width:100%;
  height:100%;
  background: url("../img/login/home_bg.png")no-repeat;
  background-size: 100% 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  padding-top: 50px;
  .item{
    border:0;font-size: 18px;
  	width:240px;height:45px;margin: 0 auto;
  	background-size: 100% 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 45px;
  }
  input{
    padding-left: 6px;
  }
  input,button{
    background-color:transparent;font-size: 18px;
    height:100%;
    border:0;color:#fff;width: 100%;
    &:focus{outline: none;}
  }

  .account{
    background: url(../img/login/load_03.png) no-repeat;
    -webkit-animation: InfoFadeIn .5s ease;
  }

  .password{
    background: url(../img/login/load_06.png) no-repeat;
    -webkit-animation: InfoFadeIn .7s ease;
  }

  .email{
    background: url(../img/login/login_10.png) no-repeat;
    -webkit-animation: InfoFadeIn .9s ease;
  }

  .phone{
    background: url(../img/login/login_10.png) no-repeat;
    -webkit-animation: InfoFadeIn 1.1s ease;
  }

  .submit{
    margin:0 auto;display: block;width:240px;color:#fff;
    background: url(../img/login/load_08.png) no-repeat;
    text-transform: none;height: 45px;
    -webkit-animation: InfoFadeIn 1.3s ease;
    span{margin-top: -5px;}
  }

  .hint{font-size: 14px;color:#fff;text-align: center;-webkit-animation: InfoFadeIn 1.2s ease;}

  .oper{
  	position: absolute;bottom: 50px;display: -webkit-flex;-webkit-justify-content: space-between;
  	width: 280px;
    left:50%;
    margin-left:-140px;
  }

  .oper a{
  	color:#00d5c3;text-decoration: none;font-size: 16px;padding-left: 20px;
  }

  .oper .sign{
  	background: url(../img/login/load_11.png) no-repeat left center;
    -webkit-transition: all 0.5s ease;-webkit-animation: all 0.5s ease;
  }

  .oper .sign:after{
  	content:'login';
  }

  .oper .sign.active:after{
  	content:'Sign up';
  }

}
