.login-bg {
  width:100%;
  height:100%;
  background: url("../img/login/home_bg.png")no-repeat;
  background-size: 100% 100%;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  padding-top: 50px;
}
.mt10{margin-top: 10px !important;}
.login-form{

}
.loginRegister .item{
	border:0;
	width:240px;height:45px;margin: 0 auto;
	background-size: 100% 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 6px 0 5px 45px;
}
.loginRegister .item input{
  background-color:transparent;height:100%;padding-left: 10px;
}
.loginRegister .item input:focus{outline: none;}
.loginRegister .login{display: none;}
.loginRegister .register{display: block;}
.loginRegister.active .login{display: block;}
.loginRegister.active .register{display: none;}
.loginRegister input,.loginRegister button{
	font-size: 18px;
}

.loginRegister .login:hover,.loginRegister .login:active{color:#FFF}
.loginRegister .register:hover,.loginRegister .register:active{color:#FFF}

.loginRegister input[type='text'],.loginRegister input[type='password']{
	border:0;
	color:#fff;
}
.account{
	background: url(../img/login/load_03.png) no-repeat;
  -webkit-animation: fadeIn .5s ease;
}
.password{
	background: url(../img/login/load_06.png) no-repeat;
  -webkit-animation: fadeIn .7s ease;
}
.email{
	background: url(../img/login/login_10.png) no-repeat;
  -webkit-animation: fadeIn .9s ease;
}
.phone{
	background: url(../img/login/login_10.png) no-repeat;
  -webkit-animation: fadeIn 1.1s ease;
}
.submit{
	margin:0 auto;display: block;width:240px;color:#fff;
	background: url(../img/login/load_08.png) no-repeat;
  -webkit-animation: fadeIn 1.3s ease;
}
.hint{font-size: 14px;color:#fff;text-align: center;-webkit-animation: fadeIn 1.2s ease;}
.oper{
	position: absolute;bottom: 50px;display: -webkit-flex;-webkit-justify-content: space-between;
	width: 280px;
  left:50%;
  margin-left:-140px;
}
.oper a{
	color:#00d5c3;text-decoration: none;font-size: 16px;padding-left: 20px;
}
.oper .sign{
	background: url(../img/login/load_11.png) no-repeat left center;
  -webkit-transition: all 0.5s ease;-webkit-animation: all 0.5s ease;
}
.oper .sign:after{
	content:'login';
}
.oper .sign.active:after{
	content:'Sign up';
}
@-webkit-keyframes fadeIn{
	0%{ -webkit-transform: translateY(20px);  }
	100%{-webkit-transform: translateY(0);}
}
