body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none;  cursor:pointer;}
a:hover { color:#ff0000; text-decoration:none;  cursor:pointer;}
a:hover { text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
*{font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI",'microsoft yahei', sans-serif;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.f_l {float: left;}
.f_r {float: right;}
.hide{display: none;}
.dib{display: inline-block;}
.mt10{margin-top: 10px !important;}
.gCenter{
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.mu-overlay{
  //opacity: .8 !important;
}
.device li.lamp{
  &.ac{
    .light{
      visibility: visible;
      -webkit-transform: rotate(360deg);
    }
    .circle.l:after{
      -webkit-transform: rotate(0deg);
    }
    .circle.r:after{
      -webkit-transform: rotate(0deg);
    }
  }
}
.prog{
  width:112px;height:112px;position: absolute;top:-33px;left:-33px;
  -webkit-transform: rotate(55deg);
  .light{
    width:100%;height:100%;left:0;top:0px;
    position: absolute;
    -webkit-transition: all 1.4s linear;
    visibility: hidden;
    &:after{
      background: url("assets/img/light.png") no-repeat top center/100% 100%;
      position: absolute;width:22px;height:22px;
      content:'';left:41px;top:-9px;
    }
  }
  .circle{
    width:112px;height:112px;
    position: absolute;
    &:after{
      position: absolute;
      content:' ';
      background: url("assets/img/circle.png") no-repeat center center;
      background-size: 100%;
      width:112px;height:112px;
      -webkit-transition: all .7s linear;
    }
    &.l {
      clip: rect(0px, 112px, 112px, 56px);
      &:after {
        left: 0;
        top: 0;clip: rect(0px, 112px, 112px, 56px);
        -webkit-transform: rotate(-180deg);
      }
    }
    &.r {
      clip: rect(0px, 56px, 112px, 0px);
      &:after {
        -webkit-transition-delay: .7s;
        left: 0;clip:rect(0px, 56px, 112px, 0px);
        top: 0;-webkit-transform: rotate(-180deg);
      }
    }
  }
}

body {
  background: url("assets/img/home/bg.png") no-repeat center center / 100% 100%;
}
audio{
	display: none;
}

.blurBgAfter
{
  &:after {
    background: inherit;
    width: 218px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: ' ';
    visibility: hidden;
    filter: blur(5px);
  }
  &.ac:after{
    visibility: visible;
  }
}


// mui slider
.mu-slider-thumb{
  width:8px;height:8px;
  transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);
}
.mu-slider.active .mu-slider-thumb{
  width:14px;height:14px;
}
.mu-slider-thumb .mu-focus-ripple-wrapper{
  width:28px;height:28px;top:-10px;left:-10px;
}
